.aboutBlock{
    color: #333;
    font-size: 18px;
    font-weight: 400;
    .aboutBlock__title{
        color: #0071bc;
        font-size: 30px;
        font-weight: 200;
    }
    p{
        margin-bottom: 1.5rem; 
    }
    a{
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    }
    img.center{
        max-width: 100%;
        margin: 20px 0;
        display: block;
    }
    img.left{
        max-width: 50%;
        margin: 0 20px;
        float: left;
    }
    img.right{
        max-width: 50%;
        margin: 0 20px;
        float: right;
    }
    .aboutBlock__textBlock{
        display: inline-block;
    }
}