@import "../../common/styles/styles";

.eventsList{
    .eventsList__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        color: #dedede;
        width: 86%;
        margin: 0 auto;
        font-size: .9rem;
        font-weight: 200;
        border-bottom: 2px solid #dedede;
    }
    .eventsList__items{
        
        .fa{
            color: #0071bc;
        }
        .eventsList__item{
            display: flex;
            height: 125px;
            align-items: center;
            justify-content: space-between;
            flex-flow: row;
            flex-wrap: wrap;
            color: #333;
            font-size: 1.6rem;
            font-weight: 400;
            @include media-breakpoint-down(sm) {
                flex-flow: column;
                height: inherit;
                padding: 35px 0;
            }
            .eventsList__itemDate{
                width: 25%;
                margin-right: 5%;
                @include media-breakpoint-down(sm) {
                    width: 100%;
                    margin: 0;
                }
            }
            .eventsList__itemName{
                width: 28%;
                margin-right: 5%;
                @include media-breakpoint-down(sm) {
                    width: 100%;
                    margin: 0;
                }
            }
            .eventsList__itemPlace{
                width: 22%;
                margin-right: 5%;
                @include media-breakpoint-down(sm) {
                    width: 100%;
                    margin: 15px auto 0 auto;
                }
            }
            .eventsList__itemAction{
                width: 10%;
                text-align: right;
                background-color: #0071bc;
                border: 2px solid #0071bc;
                color: #fff;
                font-size: 1.1rem;
                font-weight: 400;
                border-radius: 5px;
                padding: 5px;
                text-align: center;
                &.ended{
                    display: none;    
                }
                @include media-breakpoint-down(sm) {
                    width: 100%;
                    margin: 25px auto 0 auto;
                    padding: 8px;
                    font-size: 1.6rem;
                    border-radius: 0;
                }
            }
            &.ended{
                .eventsList__itemAction{
                    display: none;
                    &.ended{
                        display: block;
                        background-color: transparent;
                        color: #0071bc;
                        cursor: not-allowed;
                    }
                }
            }
        }
        .eventsList__itemHr{
            display: flex;
            border-bottom:2px solid #dedede;
            width: 86%;
            margin: 0 auto; 
            @include media-breakpoint-down(sm) {
                width: 100%;
            } 
        }
    }
    .eventsList__navigation{
        display: flex;
        justify-content: center;
        margin: 50px auto 10px auto;
        .eventsList__navigationItem{
            margin: 0 20px;
            .eventsList__navigationLink{
                color: #0071bc;
                font-size: 1.6rem;
                font-weight: 400;
            }
        }
    }
    .eventsList__navigation-mobile{
        position: relative;
        width: 100%;
        &:after {
            content: '\F078';
            font: 20px FontAwesome;
            color: #0071bc;
            right: 15px;
            top: 55%;
            position: absolute;
            pointer-events: none;
        }
        .eventsList__navigation-mobileSelect{
            width: 100%;
            margin-top: 30px;
            height: 50px;
            border: 2px solid #0071bc;
            background-color: #fff;
            text-align-last: center;
            display: block;
            color: #0071bc;
            font-size: 1.6rem;
            font-weight: 400;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            -ms-word-break: normal;
            word-break: normal;
        }
    }
}