@import "~bootstrap/scss/functions";

//fonts
$font-family-sans-serif: Lato, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-thin: latothin, latolight, lato, sans-serif;

$grid-breakpoints: (
  xs: 0px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1366px
);

$container-max-widths: (
  xs: 575.9px,
  sm: 576px,
  md: 744px,
  lg: 992px,
  xl: 1396px
);

@import "~bootstrap/scss/variables";
