@import "./globals";
@import "./vendor/styles";
@import "./../fonts/styles";

$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";
$slick-arrow-color: #d2d2d2; 
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  box-sizing: border-box;
  &:before {
    box-sizing: border-box;
  }
  &:after {
    box-sizing: border-box;
  }
}

html {
  min-height: 100%;
  color: $white;
  font-size: 15px;
  &[class*=" no-"] {
    overflow: hidden;
    body {
      visibility: visible;
    }
    .not-support {
      display: block;
    }
  }
}

a,
input,
select,
button {
  outline: none !important;
}

li{
  list-style: none;
}

html{
  min-width: 360px;
  @include media-breakpoint-down(md) {
    font-size: 13px;
  }
}