extends ../../components/base/base
block title
    | Principles page
block main
    .topSecondaryBar
        ul.topSecondaryBar__menu.container.custom-container
            li.topSecondaryBar__menuItem #[a(href="career.html").topSecondaryBar__menuLink Careers]
            li.topSecondaryBar__menuItem #[a(href="principles.html").topSecondaryBar__menuLink.active Our principles]
            li.topSecondaryBar__menuItem #[a(href="press.html").topSecondaryBar__menuLink Press about us]
    .topBanner
        .topBanner__imageWrapper
            img(src=require("./images/principlesTop.jpg")).topBanner__image
        .topBanner__overlay
        .topBanner__textOverlay
            .topBanner__textWrapper
                h1.topBanner__title Lorem ipsum lorem ipsum!
                h3.topBanner__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.#[br]Morbi viverra elementum suscipit.
        .topBanner__down.d-block.d-md-none
            img(src=require("./images/down.png"))                
    .main.container.custom-container
        .main__wrapper
            #accordion.accordionBlock
                .card.accordionBlock__item
                    .card-header.accordionBlock__itemHeader#headingOne
                        h5.mb-0
                            button.btn.btn-link.accordionBlock__itemHeaderButton(data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
                                | Strategy
                    #collapseOne.collapse.show(aria-labelledby="headingOne" data-parent="#accordion")
                        .card-body.accordionBlock__itemBody 
                            ul.accordionBlock__listing
                                li.accordionBlock__listingItem Understand and articulate the strategy
                                li.accordionBlock__listingItem Prioritize according the strategy
                                li.accordionBlock__listingItem Think critically
                .card.accordionBlock__item
                    .card-header.accordionBlock__itemHeader#headingTwo
                        h5.mb-0
                            button.btn.btn-link.accordionBlock__itemHeaderButton.collapsed(data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo")
                                | Execution
                    #collapseTwo.collapse(aria-labelledby="headingTwo" data-parent="#accordion")
                        .card-body.accordionBlock__itemBody Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                .card.accordionBlock__item
                    .card-header.accordionBlock__itemHeader#headingThree
                        h5.mb-0
                            button.btn.btn-link.accordionBlock__itemHeaderButton.collapsed(data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree")
                                | Team
                    #collapseThree.collapse(aria-labelledby="headingThree" data-parent="#accordion")
                        .card-body.accordionBlock__itemBody Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                .card.accordionBlock__item
                    .card-header.accordionBlock__itemHeader#headingFour
                        h5.mb-0
                            button.btn.btn-link.accordionBlock__itemHeaderButton.collapsed(data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour")
                                | Lorem ispum
                    #collapseFour.collapse(aria-labelledby="headingFour" data-parent="#accordion")
                        .card-body.accordionBlock__itemBody Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.