doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title
            block title
    body
        #wrapper
            
            header
                ul.topBar.container.custom-container
                    li.topBar__item BRL   #[span.topBar__item-bold.topBar__item-down 0.27] #[span.glyphicon.glyphicon-triangle-top]
                    li.topBar__item EUR   #[span.topBar__item-bold.topBar__item-down 0.85]
                    li.topBar__item ARS   #[span.topBar__item-bold.topBar__item-up 0.041196]
                    li.topBar__item GBP   #[span.topBar__item-bold.topBar__item-up 0.74]
                    li.topBar__item JPY   #[span.topBar__item-bold.topBar__item-up 110.99]
                .header.container.custom-container
                    img(src=require("./images/logo.png"))
            block main
    footer
        block footer