extends ../../components/base/base
block title
    | Investors page
block main
    .topSecondaryBar
        ul.topSecondaryBar__menu.container.custom-container
            li.topSecondaryBar__menuItem #[a(href="#").topSecondaryBar__menuLink Financial Results]
            li.topSecondaryBar__menuItem #[a(href="#").topSecondaryBar__menuLink Corporate Governance]
            li.topSecondaryBar__menuItem #[a(href="events.html").topSecondaryBar__menuLink Events]
    .topBanner
        img(src=require("./images/investorsTop.jpg"))
        .topBanner__overlay
        .topBanner__textOverlay
            .topBanner__textWrapper
                h1.topBanner__title Lorem ipsum dolor sit amet,#[br]consectetur adipiscing elit.
    .main.container.custom-container
        .main__wrapper
            .investorsBlocks.row
                .investorsBlocks__item.col-12.col-md-6.col-lg-4
                    img.investorsBlocks__image(src=require("./images/investorsItem_1.jpg"))
                    .investorsBlocks__title Lorem ipsum
                    .investorsBlocks__conten
                        ul
                            li Revenue - #[b $m]
                            li Growth - #[b %]
                            li RoE - #[b %]
                .investorsBlocks__item.col-12.col-md-6.col-lg-4
                    img.investorsBlocks__image(src=require("./images/investorsItem_2.jpg"))
                    .investorsBlocks__title Result and Reports
                    .investorsBlocks__conten
                        ul.blocks__listing
                            li.blocks__listingItem
                                i.fa.fa-file-pdf-o.blocks__listingItem-pdf
                                .blocks__listingItemWrapper
                                    .blocks__listingItemTitle TCS Group Audited Consolidated IFRS Results for FY2017
                                    .blocks__listingItemInfo PDF, 2,9 MB
                            li.blocks__listingItem
                                i.fa.fa-file-pdf-o.blocks__listingItem-pdf
                                .blocks__listingItemWrapper
                                    .blocks__listingItemTitle TCS Group Audited Consolidated IFRS Results for FY2017
                                    .blocks__listingItemInfo PDF, 2,9 MB
                .investorsBlocks__item.col-12.col-md-6.col-lg-4
                    img.investorsBlocks__image(src=require("./images/investorsItem_3.jpg"))                
                    .investorsBlocks__title News                    
                    .investorsBlocks__conten Nunc porta vitae est vitae molestie. Suspendisse dapibus arcu purus, sodales tristique lectus bibendum eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce pretium aliquet lacus ut sagittis.
            .nextEvent
                .nextEvent__title Next event
                .nextEvent__wrapper
                    .nextEvent__date 
                        i.fa.fa-calendar 
                        | 15 —17 January 2018
                    .nextEvent__name Euromoney Central and Eastern European Forum
                    .nextEvent__place 
                        i.fa.fa-map-marker
                        | Vienna
                .nextEvent__more
                    a(href="#").nextEvent__moreLink More 