@import "../../common/styles/styles";

.investorsBlocks{
  padding: 30px 0 0 0;
  .investorsBlocks__item{
    margin-bottom: 1.5rem;
    .investorsBlocks__image{
      margin: 0 auto;
      display: block;
      width: 100%;
      max-width: 390px;
      @include media-breakpoint-down(sm) {
        max-width:initial;
      } 
    }
    .investorsBlocks__wrapper{
      @include media-breakpoint-down(sm) {
        width: 100%;
        padding: 0 35px;
      } 
    }    
    .investorsBlocks__title{
      margin-top: 35px;
      color: #0071bc;
      font-size: 2rem;
      font-weight: 200;
      @include media-breakpoint-down(sm) {
        text-align: center;
      } 
    }
    .investorsBlocks__conten{
      color: #333;
      font-weight: 400;
      font-size: 1.1rem;
      margin-top: 15px;
    }
  }
}

.blocks__listing{
  .blocks__listingItem{
    margin-bottom: 35px;
    display: flex;
    .blocks__listingItemInfo{
      color: #9a9a9a;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  .blocks__listingItem-pdf{
    &:before{
      font-size: 2.5rem;
      color: #0071bc;
      margin-right: 15px;
    }
  }
}