$fonts-path: '../../common/fonts';

@font-face {
  font-family: "lato";
  src: url($fonts-path + "/Lato-Bold.eot");
  src: url($fonts-path + "/Lato-Bold.eot?#iefix") format("embedded-opentype"),
  url($fonts-path + "/Lato-Bold.woff") format("woff"),
  url($fonts-path + "/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "lato";
  src: url($fonts-path + "/Lato-Semibold.eot");
  src: url($fonts-path + "/Lato-Semibold.eot?#iefix") format("embedded-opentype"),
  url($fonts-path + "/Lato-Semibold.woff") format("woff"),
  url($fonts-path + "/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: "lato";
  src: url($fonts-path + "/Lato-Light.eot");
  src: url($fonts-path + "/Lato-Light.eot?#iefix") format("embedded-opentype"),
  url($fonts-path + "/Lato-Light.woff") format("woff"),
  url($fonts-path + "/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "lato";
  src: url($fonts-path + "/Lato-Medium.eot");
  src: url($fonts-path + "/Lato-Medium.eot?#iefix") format("embedded-opentype"),
  url($fonts-path + "/Lato-Medium.woff") format("woff"),
  url($fonts-path + "/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "lato";
  src: url($fonts-path + "/Lato-Regular.eot");
  src: url($fonts-path + "/Lato-Regular.eot?#iefix") format("embedded-opentype"),
  url($fonts-path + "/Lato-Regular.woff") format("woff"),
  url($fonts-path + "/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "lato";
  src: url($fonts-path + "/Lato-Thin.eot");
  src: url($fonts-path + "/Lato-Thin.eot?#iefix") format("embedded-opentype"),
  url($fonts-path + "/Lato-Thin.woff") format("woff"),
  url($fonts-path + "/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
