extends ../../components/base/base
block title
    | Post page
block main
    .topBanner
        .topBanner__imageWrapper
            img(src=require("./images/postTop.jpg")).topBanner__image
        .topBanner__overlay
        .topBanner__textOverlay
            .topBanner__textWrapper
                h1.topBanner__title Lorem ispum dolor sit amet, #[br]consectur adipiscing elit.
                h3.topBanner__text #[i.fa.fa-calendar] 27.06.2018
                .topBanner__tags #lorem #ipsum #investors #loremipsum                
    .main.container.custom-container.custom-fluid-container
        .main__wrapper
            .postBlock 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum lorem risus, ut ornare augue efficitur sed. Curabitur Pellentesque ultricies sem turpis, nec posuere risus viverra pellentesque. Morbi facilisis viverra risus, sit amet condimentum sem rhoncus in. Mauris euismod mauris vel hendrerit volutpat. Ut faucibus nunc a neque #[b accumsan, et pulvinar tortor] hendrerit. Nulla luctus tellus nec ante gravida, et rutrum ante egestas. Fusce sodales urna nec odio vehicula, sit amet porttitor lacus dictum. Nulla sed iaculis elit, non tincidunt nisl. Praesent id lorem quis arcu hendrerit ultrices at id nunc. Pellentesque bibendum risus ut mi scelerisque ullamcorper. Phasellus tincidunt, ligula laoreet posuere varius, lacus risus vestibulum tortor, quis sodales tortor lectus et orci.
                p Nunc porta vitae est vitae molestie. Suspendisse dapibus arcu purus, sodales tristique lectus bibendum eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce pretium aliquet lacus ut sagittis. Etiam nec aliquam sem. Donec vitae laoreet dui, at ullamcorper mauris. #[a(href="#") Suspendisse] pellentesque vehicula tortor, eget efficitur elit ultrices quis. Praesent ante lectus, cursus id ultrices sed, tempus id felis. Mauris commodo ligula vel neque euismod maximus. In vulputate ante in elit mollis, condimentum rutrum velit accumsan. Nullam feugiat, est quis luctus dapibus, ex elit molestie mauris, in tempor massa dolor at justo. Praesent luctus faucibus elit sed maximus.
                .postBlock__info Ut rutrum arcu vel dolor dictum hendrerit. Duis sed justo sit amet ex porttitor pellentesque at lobortis magna. Vestibulum ut pellentesque.
                p Phasellus egestas nibh lacus, vel iaculis ante malesuada vel. Nullam consequat auctor tortor vitae laoreet. In hac habitasse platea dictumst. Quisque molestie nunc eu leo suscipit ultricies. Fusce sed imperdiet metus, sit amet vehicula lacus. Nam dapibus viverra erat eget congue. Nunc pharetra feugiat ligula in mattis. Aliquam auctor dapibus gravida. Quisque rutrum elit vel mi vestibulum tincidunt. Praesent cursus metus justo, ut fermentum mauris tincidunt sed. #[b Donec condimentum] at ligula quis vestibulum. Nunc a aliquam lorem. Mauris eget llamcorper leo. Vivamus fermentum magna at mauris pharetra dignissim. Curabitur quis commodo eros, a gravida sapien.
                img(src=require("./images/post.jpg") class="left")
                p Nunc suscipit elit vitae consectetur lacinia. Vestibulum quis quam ultricies sem consequat sodales in sed nisi. Phasellus mollis quam vitae vulputate semper. Vestibulum vehicula, purus vitae iaculis elementum, dui dui fringilla arcu, ut tempor ante risus ut nibh. In condimentum nunc nec felis gravida, in consectetur eros sagittis. Curabitur ut est facilisis quam consectetur luctus nec eget enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam #[a(href="#") tincidunt condimentum] velit dictum ultrices. Sed a blandit lorem. Vivamus eget viverra urna. Vestibulum a leo ultricies massa laoreet gravida. Proin sit amet nibh felis.