extends ../../components/base/base
block title
    | Contacts page
block main
    .topBanner.container
        img(src=require("./images/contactsTop.jpg"))
        .topBanner__overlay
        .topBanner__textOverlay
            .topBanner__textWrapper
                h1.topBanner__title Lorem ispum dolor sit amet, #[br]consectur adipiscing elit.
    .main.container.custom-container
        .main__wrapper
