.postBlock{
    color: #333;
    font-size: 18px;
    font-weight: 400;
    padding: 0 80px;
    p{
        margin-bottom: 1.5rem; 
    }
    a{
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    }
    .postBlock__info{
        font-size: 30px;
        font-weight: 400;
        color: #0071bc;
        padding: 30px;
        width: 100%;
        border: 2px solid #0071bc;
        line-height: 1.2;
        margin: 2rem 0
    }
    img.center{
        max-width: 100%;
        margin: 0 20px;
        display: block;
    }
    img.left{
        max-width: 50%;
        margin-right: 20px;
        float: left;
    }
    img.right{
        max-width: 50%;
        margin-left: 20px;
        float: right;
    }
}