@import "../../common/styles/styles";

.mainPartners{
  margin: 76px auto 55px auto; 
  padding: 0 15px;
  @include media-breakpoint-down(sm) {
    margin:0 auto;
  }
  .mainPartners__item{
    padding: 0 30px;
    @include media-breakpoint-down(sm) {
      margin:15px auto;
    }
  }
  .mainPartners__logoWrapper{
    text-align: center; 
    margin-bottom: 15px;
    .mainPartners__logo{
      width: 100%;
      max-width: 190px;
    }
  }
  .mainPartners__title{
    font-weight: 400;
    font-size: 1.1rem;
    color: #333;  
    line-height: 1.2;
  }
}

.partnersSlider{
  margin: 40px 0;
  @include media-breakpoint-down(sm) {
    width: 100%;
  } 
  .slick-slide {
    margin: 0 25px;
    img{
      margin: 0 auto;
    }
  }
  .slick-prev, .slick-next {
    height: 30px;
    width: 30px;
    &::before,{
      font-size: 2rem;
    }
  }
  .slick-track{
    display: flex;
    align-items: center;
  }
}