extends ../../components/base/base
block title
    | Index page
block main
    .topSecondaryBar
        ul.topSecondaryBar__menu.container.custom-container
            li.topSecondaryBar__menuItem #[a(href="#").topSecondaryBar__menuLink Financial Results]
            li.topSecondaryBar__menuItem #[a(href="#").topSecondaryBar__menuLink.active Corporate Governance]
            li.topSecondaryBar__menuItem #[a(href="#").topSecondaryBar__menuLink Events]
    .topBanner.container
        img(src=require("./images/teamTop.jpg"))
        .topBanner__overlay
        .topBanner__textOverlay
            .topBanner__textWrapper
                h1.topBanner__title Become part of out team!
                h3.topBanner__text Find your purpose and build relationships#[br]with a ID Finance
    .main.container.custom-container
        .main__wrapper
    .connectUs
        .connectUs__wrapper.container.custom-container
            .connectUs__title Connect With Us
            .connectUs__text Stay up to date on ID Finance and possible oppurtunities that open in areas that interest you.
            form.connectUs__form
                .connectUs__formRow
                    .connectUs__formRowsWrapper
                        input(placeholder="Name" value="" type="text" name="contactName").connectUs__formInput.connectUs__formInput-large
                        input(placeholder="Email" value="" type="email" name="contactEmail").connectUs__formInput.connectUs__formInput-large
                    input(value="Join" type="submit" name="contactsubmit").connectUs__formSubmit
                .connectUs__formBottom
                    label(for="agreement").connectUs__formCheckboxLable
                        input(type="checkbox" id="agreement" name="agreement").connectUs__formCheckbox
                        span.connectUs__formCheckboxOuter.fa
                    .connectUs__formBottomText #[span.connectUs__formCheckboxSpanLable I Consent.] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius malesuada convallis. Phasellus pellentesque, mi id consectetur cursus, sapien lorem laoreet velit, vulputate molestie risus quam eu est.
    .main.container.custom-container
        .main__wrapper
            .infoBlock.infoBlock-m4
                .infoBlock__data
                    .infoBlock__title Why work for us?
                    .infoBlock__text
                        p ID Finance is a fast-growing data science, credit scoring and digital finance company that is pioneering fintech innovation in emerging markets. ID Finance uses its proprietary IT infrastructure and risk management capabilities to develop innovative financial solutions. ID Finance brings financial innovations into emerging markets.
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel malesuada lorem, non accumsan lectus. Aenean eget velit ligula. Integer pretium egestas sem, vitae rhoncus urna viverra at.
                .infoBlock__imageWrapper
                    img.infoBlock__image(src=require("./images/teamImg.jpg"))