extends ../../components/base/base
block title
    | Career page
block main
    .topSecondaryBar
        ul.topSecondaryBar__menu.container.custom-container
            li.topSecondaryBar__menuItem #[a(href="career.html").topSecondaryBar__menuLink.active Careers]
            li.topSecondaryBar__menuItem #[a(href="#").topSecondaryBar__menuLink Our principles]
            li.topSecondaryBar__menuItem #[a(href="#").topSecondaryBar__menuLink Press about us]
    .topBanner.container
        img(src=require("./images/careerTop.jpg"))
        .topBanner__overlay
        .topBanner__textOverlay
            .topBanner__textWrapper
                h1.topBanner__title Become part of out team!
                h3.topBanner__text Find your purpose and build relationships#[br]with a ID Finance
                a(href="#").topBanner__button Find Your Role
    .main.container.custom-container
        .main__wrapper
            h2.title Careers
            .orientedWrapper
                .careersListBlock
                    ul.careersListBlock__list
                        li.careersListBlock__listItem
                            .careersListBlock__listInfo
                                .careersListBlock__listInfoTitle Tax Analyst
                                .careersListBlock__listInfoBottom
                                    .careersListBlock__listInfoPsition Experienced
                                    .careersListBlock__listInfoPlace #[i.fa.fa-map-marker] Peru
                            a(href="#").careersListBlock__listButton Apply Now
                        li.careersListBlock__listItem
                            .careersListBlock__listInfo
                                .careersListBlock__listInfoTitle Manufacturing Production & Assembly
                                .careersListBlock__listInfoBottom
                                    .careersListBlock__listInfoPsition Entry-Level
                                    .careersListBlock__listInfoPlace #[i.fa.fa-map-marker] Brazil, Selvador
                            a(href="#").careersListBlock__listButton Apply Now 
                        li.careersListBlock__listItem
                            .careersListBlock__listInfo
                                .careersListBlock__listInfoTitle Sourcing Specialist - Buying / Procurment
                                .careersListBlock__listInfoBottom
                                    .careersListBlock__listInfoPsition Entry-Level
                                    .careersListBlock__listInfoPlace #[i.fa.fa-map-marker] Brazil, Rio de Janeiro
                            a(href="#").careersListBlock__listButton Apply Now
                        li.careersListBlock__listItem
                            .careersListBlock__listInfo
                                .careersListBlock__listInfoTitle Graduate Engineering Training Progran - GETP (LEAD)
                                .careersListBlock__listInfoBottom
                                    .careersListBlock__listInfoPsition Leadership Programs
                                    .careersListBlock__listInfoPlace #[i.fa.fa-map-marker] Brazil, Rio de Janeiro
                            a(href="#").careersListBlock__listButton Apply Now
                        li.careersListBlock__listItem
                            .careersListBlock__listInfo
                                .careersListBlock__listInfoTitle Intern - Legal Fuction
                                .careersListBlock__listInfoBottom
                                    .careersListBlock__listInfoPsition Co-op/Intern
                                    .careersListBlock__listInfoPlace #[i.fa.fa-map-marker] Colombia, Bogota
                            a(href="#").careersListBlock__listButton Apply Now  
                    .careersListBlock__navigation                                                                                            
                        a(href="#").careersListBlock__navigationButton Back
                        ul.careersListBlock__navigationPages
                            li.careersListBlock__navigationNumber.active
                                .careersListBlock__navigationLink 1
                            li.careersListBlock__navigationNumber
                                a(href="#").careersListBlock__navigationLink 2
                            li.careersListBlock__navigationNumber
                                a(href="#").careersListBlock__navigationLink 3 
                            li.careersListBlock__navigationNumber
                                a(href="#").careersListBlock__navigationLink 4
                            li.careersListBlock__navigationNumber
                                a(href="#").careersListBlock__navigationLink 5                                                                                                                   
                            li.careersListBlock__navigationNumber
                                a(href="#").careersListBlock__navigationLink 6
                            li.careersListBlock__navigationNumber
                                a(href="#").careersListBlock__navigationLink 7
                            li.careersListBlock__navigationNumber
                                .careersListBlock__navigationLink ...
                            li.careersListBlock__navigationNumber
                                a(href="#").careersListBlock__navigationLink 12                                                                                              
                        a(href="#").careersListBlock__navigationButton.active Next
                .careersSearchBlock
                    .careersSearchBlock__title Search for a Job
                    form.careersSearchBlock__form
                        .careersSearchBlock__row
                            i.fa.fa-map-marker
                            select.careersSearchBlock__formSelect 
                                option(disabled selected value="").careersSearchBlock__formOption Location
                                option(value="peru").careersSearchBlock__formOption Peru
                        .careersSearchBlock__row
                            select.careersSearchBlock__formSelect
                                option(disabled selected value="").careersSearchBlock__formOption Job Function
                                option(value="peru").careersSearchBlock__formOption Leadership Programs
                        .careersSearchBlock__row
                            select.careersSearchBlock__formSelect
                                option(disabled selected value="").careersSearchBlock__formOption Experience
                                option(value="peru").careersSearchBlock__formOption Entry-Level  
                        input(value="Show my jobs" type="submit" name="jobsSubmit").careersSearchBlock__submit
                        input(value="X  Clear Filters" type="reset" name="jobsRest").careersSearchBlock__reset
    .connectUs
        .connectUs__wrapper.container.custom-container
            .connectUs__title Connect With Us
            .connectUs__text Stay up to date on ID Finance and possible oppurtunities that open in areas that interest you.
            form.connectUs__form
                .connectUs__formRow
                    .connectUs__formRowsWrapper
                        input(placeholder="Name" value="" type="text" name="contactName").connectUs__formInput
                        input(placeholder="Email" value="" type="email" name="contactEmail").connectUs__formInput
                        input(type="file" id="contactFile" name="contactFile").fileGetter.connectUs__formFile
                        label(for="contactFile").connectUs__formFileLabel 
                            .connectUs__formFileLabelButton 
                                i.fa.fa-file-o
                                | Resume
                            .connectUs__formFileLabelInfo.fileSetter Файл не выбран
                    input(value="Join" type="submit" name="contactSubmit").connectUs__formSubmit
                .connectUs__formBottom
                    label(for="agreement").connectUs__formCheckboxLable
                        input(type="checkbox" id="agreement" name="agreement").connectUs__formCheckbox
                        span.connectUs__formCheckboxOuter.fa
                    .connectUs__formBottomText #[span.connectUs__formCheckboxSpanLable I Consent.] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius malesuada convallis. Phasellus pellentesque, mi id consectetur cursus, sapien lorem laoreet velit, vulputate molestie risus quam eu est.
    .main.container.custom-container
        .main__wrapper
            .infoBlock.infoBlock-m4
                .infoBlock__data
                    .infoBlock__title Why work for us?
                    .infoBlock__text
                        p ID Finance is a fast-growing data science, credit scoring and digital finance company that is pioneering fintech innovation in emerging markets. ID Finance uses its proprietary IT infrastructure and risk management capabilities to develop innovative financial solutions. ID Finance brings financial innovations into emerging markets.
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel malesuada lorem, non accumsan lectus. Aenean eget velit ligula. Integer pretium egestas sem, vitae rhoncus urna viverra at.
                .infoBlock__imageWrapper
                    img.infoBlock__image(src=require("./images/whyImg.jpg"))