@import "../../common/styles/styles";

.orientedWrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include media-breakpoint-down(sm) {
    flex-flow: wrap-reverse;
  }

  .careersListBlock{
    margin: 0 20px 20px 0;
    max-width: 730px;
    width: 100%;
    @include media-breakpoint-down(sm) {
      margin: 0 35px;
      max-width: inherit;
    }
    .careersListBlock__list{
      margin: 0 auto;
      @include media-breakpoint-down(sm) {
        margin: 20px auto;
        max-width: inherit;
      }
      .careersListBlock__listItem{
        background-color: #f1f1f1;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        margin-bottom: 20px;
        min-height: 120px;
        width: 100%;
        .careersListBlock__listInfo{
          width: 360px;
          color: #333;
          margin-right: 15px;
          .careersListBlock__listInfoTitle{
            font-weight: 700;
            font-size: 1.3rem;
            display: block;
            margin-bottom: 20px;
          }
          .careersListBlock__listInfoBottom{
            font-weight: 400;
            font-size: .9rem;
            display: flex;
            align-items: center;
            .careersListBlock__listInfoPsition{
              width: 200px;
              @include media-breakpoint-down(sm) {
                width: 100%;
              }
            }
            .careersListBlock__listInfoPlace{
              @include media-breakpoint-down(sm) {
                width: 100%;
              }
            }
            @include media-breakpoint-down(sm) {
              flex-flow: column;
              justify-content: left
            }
          }
          @include media-breakpoint-down(sm) {
            margin: 0 auto 4rem auto;
            width: 100%;
          }
        }
        .careersListBlock__listButton{
          width: 205px;
          background-color: #0071bc;
          font-size: 1.3rem;
          color: #fff;
          font-weight: 700;
          border-radius: 5px;
          padding: 10px;
          text-align: center;
        }
        @include media-breakpoint-down(sm) {
          padding: 20px;
          flex-flow: column;
          justify-content: center
        }
      }
    }
    .careersListBlock__navigation{
      font-size: 1.2rem;
      font-weight: 400;
      color: #333;
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: 40px auto 0 auto;
      @include media-breakpoint-down(sm) {
        margin: 40px auto
      }
      .careersListBlock__navigationButton{
        color: #777;
        cursor: not-allowed;
        &.active{
          color: #333;
          text-decoration: underline;
          cursor: pointer;
        }
        &:hover{
          text-decoration: none;
        }
        @include media-breakpoint-down(sm) {
          position: absolute;
          left: 35px;
          &:last-child{
            left: inherit;
            right: 35px;
          }
        }
      }
      .careersListBlock__navigationPages{
        display: inline-flex;
        margin: 0 20px;
        .careersListBlock__navigationNumber{
          width: 25px;
          height: 25px;
          text-align: center;
          .careersListBlock__navigationLink{
            color: #333;
          }
          &.active{
            background-color: #0071bc;
            color: #fff;
            .careersListBlock__navigationLink{
              color: #fff;
            }
          }
        }
        @include media-breakpoint-down(sm) {
          margin: 35px auto 0 auto;
        }
      }
    }
  }
  .careersSearchBlock{
    width: 100%;
    background-color: #0071bc;
    padding: 35px 25px;
    max-width: 405px;
    @include media-breakpoint-down(sm) {
      margin: 0 auto 20px auto;
      max-width: initial;
    }
    .careersSearchBlock__title{
      font-size: 1.6rem;
      font-weight: 400;
      text-align: center;
      color: #fff;
    }
    .careersSearchBlock__form{
      width: 100%;
      margin: 80px 0 0 0;
      @include media-breakpoint-down(sm) {
        margin: 40px 0 0 0;
      }
      .careersSearchBlock__formSelect{
        display: flex;
        width: 100%;
        height: 45px;
        background-color: #fff;
        padding: 0 30px;
      }
      .careersSearchBlock__row{
        position: relative;
        margin-bottom: 45px;
        .fa{
          position: absolute;
          line-height: 45px;
          color: #777;
          font-size: 1.6rem;
          left: 12px;
        }
      }
      .careersSearchBlock__formSelectWrapper{
        position: relative;
        width: 100%;
        &:after {
            content: '\F078';
            font: 20px FontAwesome;
            color: #333;
            right: 15px;
            top: 28%;
            position: absolute;
            pointer-events: none;
        }
        .careersSearchBlock__formSelect{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            -ms-word-break: normal;
            word-break: normal;
        }
      }
      .careersSearchBlock__submit{
        color: #fff;
        font-weight: 400;
        font-size: 1.3rem;
        padding: 30px;
        max-width: 276px;
        width: 90%;
        border: 2px #fff solid;
        border-radius: 5px;
        margin: 80px auto 35px auto;
        display: block; 
        background-color: #0071bc;
        cursor: pointer;
        @include media-breakpoint-down(sm) {
          padding: 21px;
          margin: 50px auto 35px auto;
        }
      }
      .careersSearchBlock__reset{
        float: right;
        background: none;
        color: #fff;
        cursor: pointer;
        @include media-breakpoint-down(sm) {
          float: none;
          margin: 0 auto;
          display: block;
        }
      }
    }
  }
}